@font-face {
  font-family: Averta;
  src: url("./assets/fonts/Averta-Regular.otf") format("opentype");
}

body {
  margin: 0;
  font-family: 'Averta', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
